.boxComponents {
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid lightgray ;
	display: flex;
	margin-top: 2%;
	margin-left: 30%;
	margin-right: 30%;
	flex-direction: column;
	padding: 0.8% 3% 0% 3%;
	position: relative;
	top: 100px;

}

.dataCollection {
	display: flex;
	padding-top: 4%;
	padding-bottom: 2%;
	text-align: left;
	justify-content: space-between;
	width: 100%;
}
.infoCollection {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.descriptionAdding {
	display: flex;
	padding-top: 2%;
	text-align: left;
	width: 100%;
}
.postElement {
	display: flex;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.browseButton {
	border: 1px solid lightgray ;
	outline: none;
	width: 20%;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}

.inputFile {
	border: 1px solid lightgray ;
	outline: none;
	width: 80%;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}

.authorName {
	border: 1px solid lightgray ;
	outline: none;
	width: 35%;
	text-align: left;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}

.itemLocation {
	border: 1px solid lightgray ;
	outline: none;
	width: 35%;
	text-align: left;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}

.itemCaption {
	border: 1px solid lightgray ;
	outline: none;
	width: 99%;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}

.postButton {
	border: 1px solid lightgray ;
	outline: none;
	width: 15%;
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	font: normal normal normal 18px/22px Verdana;
}
