.NavbarItems {
	/* position: absolute; */
	margin-top: 20px;
	height: 80px;
	display: flex;
	justify-content: left;
	align-items: center;
	border-bottom: solid black 1px;
}
.Navbar-logo {
	top: 20px;
	margin-left: 200px;
	left: 200px;
	/* height: 64px;
	width: 64px; */
	align-items: center;
	margin-bottom: 20px;
}
.instaclone {
	top: 25px;
	left: 274px;
	width: 289px;
	text-align: left;
	margin-top: 40px;
	font: normal normal normal 64px/71px Palatino;
	letter-spacing: 0px;
	margin-left: 10px;
	color: #006238;
	opacity: 1;
}
.camera {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: right;
	top: 26px;
	left: 1080px;
	width: 48px;
	height: 48px;
	background: transparent 0% 0% no-repeat padding-box;
	opacity: 1;
}
